@charset "UTF-8";
/*头部的快捷导航部分 开始*/
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-family: 宋体;
}

a {
    text-decoration: none;
}

img, input {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline-style: none;
    vertical-align: middle;
}

i, s {
    font-style: normal;
    text-decoration: none;
}

.colorRed {
    color: #c81623 !important;
}

.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.box {
    width: 1210px;
    margin: 0 auto;
}

/*头部的快捷导航部分*/
.top-nav {
    height: 30px;
    line-height: 30px;
    background-color: #f1f1f1;
}

.top-nav .top-left {
    float: left;
}

.top-nav .top-left li {
    padding: 0 25px 0 10px;
    position: relative;
}

.top-nav i {
    display: inline-block;
    width: 15px;
    height: 7px;
    overflow: hidden;
    position: absolute;
    top: 12px;
    right: 6px;
}
.top-nav i:hover {
    top: 10px;
}
.top-nav s {
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    font-size: 15px;
    top: -14px;

}
.top-nav s:hover {
    top: -6px;

}
.top-nav .top-right {
    float: right;
}

.top-nav .top-right li {
    float: left;
    padding: 0 10px;
}
.top-nav li.spacer {
    width: 1px;
    height: 12px;
    background-color: #ddd;
    padding: 0;
    margin-top: 10px;
}

.top-nav li.spc {
    padding: 0 25px 0 10px;
    position: relative;
}
.top-nav li.phone{
    padding-left: 25px;
}
.top-nav li.phone span{
    display: inline-block;
    width: 15px;
    height: 20px;
    position: absolute;
    background-image: url(../img/sp.png);
    top: 6px;
    left: 6px;
}
.top-nav li.phone span:hover{
    background-position: 0 -25px;
}
/*头部的快捷导航部分 结束*/
/*头部广告 开始*/
.top-banner{
    background-color: #1879ec;
}
.top-banner .box{
    position: relative;
}
.top-banner span{
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url(../img/top-close.png);
    position: absolute;
    top: 5px;
    right: 5px;
}
.top-banner span:hover{
    background-position: 0 -19px;
}
/*头部广告 结束*/
/*顶部主体部分 开始*/
.top-main .logo {
    width: 362px;
    padding: 20px 0;
    float: left;
}
.top-main .logo a{
    display: inline-block;
    width: 362px;
    height: 60px;
    background: url("../img/logo.png")no-repeat;
    text-indent: -1000px;
}
.top-main .search{
    float: left;
    border: 2px solid #b61d1d;
    margin-top: 25px;
}
.top-main .ipt{
    padding-left: 4px;
    width: 450px;
    height: 32px;
    float: left;
}
.top-main .btn{
    width: 80px;
    height: 32px;
    float: left;
    color: #fff;
    background-color: #b61d1d;
    font-size: 16px;
    font-family:'微软雅黑';
    line-height: 32px;
}
.top-main .shopping-cart{
    margin-right: 65px;
    width: 139px;
    height: 34px;
    line-height: 34px;
    background-color: #f9f9f9;
    border: 1px solid #dfdfdf;
    float: right;
    margin-top: 25px;
    color: #666;
    text-align: center;
    position: relative;
}
.top-main .shopping-cart i{
    display: inline-block;
    width: 16px;
    height: 14px;
    line-height: 14px;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    color: #fff;
    position: absolute;
    top: -5px;
    right: 18px;
}
.top-main .shopping-cart s{
    display: inline-block;
    width: 18px;
    height: 15px;
    background: url("../img/sp.png")no-repeat 0 -59px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.top-main .shopping-cart span{
    position: absolute;
    right: 10px;
}
.top-main .hotword{
    margin-top: 8px;
    float: left;
}
.top-main .hotword li{
    color: #666;
    float: left;
    margin-right: 10px;
}
/*顶部主体部分 结束*/
/*头部导航 开始*/
.main-nav{
    height: 44px;
    border-bottom:2px solid #b1191a;
}
.main-nav .left-box{
    float: left;
    height: 44px;
    /*overflow: hidden;*/
}
.main-nav .left-box:hover{
    overflow: visible;
}
.main-nav .left-box .nav-up{
    width: 200px;
    height: 44px;
    line-height: 44px;
    padding-left: 10px;
    background-color: #b1191a;
    font-size: 15px;
    font-family:"微软雅黑";
    color: #fff;
}
.left-box .allsp{
    margin-top: 2px;
    width: 209px;
    height: 466px;
    border-left:1px solid #b1191a;
    background-color: #c81623;
    position: relative;
    z-index: 999;
}
.left-box .allsp li{
    height: 31px;
    line-height: 31px;
    color: #fff;
    font-size: 14px;
    font-family:'微软雅黑';
    padding-left: 10px;
}
.left-box .allsp li:hover{
    background-color: #fff;
    color: #c81623;
}
.left-box .allsp li:hover span{
    color: #fff;
}
.main-nav .allsp span{
    float: right;
    margin-right:10px;
}
.main-nav .right-box{
    float: left;
    height: 44px;
    line-height: 44px;
}
.main-nav .right-box li{
    padding: 0 20px;
    float: left;
    font-size: 16px;
    font-family:"微软雅黑";
    color: #666;
}
.main-nav .right-box .shenquan{
    position: relative;
}
.main-nav .right-box .shenquan span{
    position: absolute;
    display: inline-block;
    width: 36px;
    height: 18px;
    background: url("../img/god.jpg");
    top: -2px;
    right: -15px;
}
/*头部导航 结束*/
/*底部区域 开始*/
/*图片区域 开始*/
.tong-bg{
    background-color: #f5f5f5;
}
.footer .picArea{
    margin-top: 20px;
    height: 54px;
    background-color: #f5f5f5;
    padding: 20px 0;
}
.footer .picArea span{
    margin-left: 68px;
    display: inline-block;
    width: 220px;
    height: 54px;
    line-height: 54px;
    font-family:"微软雅黑";
    font-size:18px;
    color: #666;
    position: relative;
}
.footer .picArea span b{
    font-size: 24px;
    font-family:"微软雅黑";
    color: #c81623;
}
.footer .picArea span i{
    display: inline-block;
    width: 220px;
    height: 54px;
    position: absolute;
    left: 0;
    top: 0;
}
.footer .picArea span i.item1{
    background: url("../img/service_items_1.png");
}
.footer .picArea span i.item2{
    background: url("../img/service_items_2.png");
}
.footer .picArea span i.item3{
    background: url("../img/service_items_3.png");
}
.footer .picArea span i.item4{
    background: url("../img/service_items_4.png");
}
/*图片区域 结束*/
/*列表区域 开始*/
.footer .listArea{
    height: 182px;
    padding-top:20px;
    border-bottom: 1px solid #ccc;
}
.footer .listArea dl{
    width: 190px;
    float: left;
}
.footer .listArea dd{
    line-height: 20px;
}
.footer .listArea dt a{
    font-size: 16px;
    line-height: 30px;
}
.footer .listArea a{
    font-family:"微软雅黑";
    color: #666;
}
.footer .listArea a:hover{
    color: #c81623;
}
.footer .listArea .cover{
    width: 192px;
    height: 169px;
    background: url("../img/ico-footer-ditu.png") no-repeat;
    padding-left: 20px;
}
.footer .listArea .cover span{
    float: right;
}
/*列表区域 结束*/
/*版权区域 开始*/
.footer .wordArea{
    padding-top: 20px;
    padding-bottom: 40px;
}
.footer .wordArea p{
    text-align: center;
    color: #adadad;
    font-family:Arial,Verdana;
}
.footer .wordArea p a{
    color: #666;
}
.footer .wordArea p a:hover{
    color: #c81623;
}
.footer .wordArea a{
    margin:0 5px;
}
.footer .wordArea img{
    padding-left: 5px;
}
.tuo{
    padding-bottom: 27px;
}
/*版权区域 结束*/
/*底部区域 结束*/